---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/sessions
    body:
      encoding: UTF-8
      string: '{"metadata":{"pallastrade_payment_method_id":1,"pallastrade_setup_session":true},"amount":{"value":0,"currency":"USD"},"returnUrl":"myapp://adyen/return","reference":"SETUP_1_b99811374f5a","merchantAccount":"PallasTradeCommerceECOM","expiresAt":"2026-05-11T13:58:15Z","shopperName":{"firstName":"Setup","lastName":"Shopper"},"shopperEmail":"setup-shopper@example.com","shopperReference":"customer_1","recurringProcessingModel":"UnscheduledCardOnFile","shopperInteraction":"Ecommerce","storePaymentMethodMode":"enabled","blockedPaymentMethods":["googlepay"],"channel":"iOS","applicationInfo":{"externalPlatform":{"name":"PallasTrade
        Commerce","version":"5.5.0.beta","integrator":"Steven Bian"},"merchantApplication":{"name":"Community
        Edition","version":"0.10.0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - ADYEN_API_KEY
      Idempotency-Key:
      - '0492b3cf-bf55-465f-8502-37b6a72e2ccb'
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 11.3.0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Idempotency-Key:
      - '0492b3cf-bf55-465f-8502-37b6a72e2ccb'
    body:
      encoding: UTF-8
      string: '{"amount":{"currency":"USD","value":0},"applicationInfo":{"externalPlatform":{"name":"PallasTrade
        Commerce","version":"5.5.0.beta","integrator":"Steven Bian"},"merchantApplication":{"name":"Community
        Edition","version":"0.10.0"}},"blockedPaymentMethods":["googlepay"],"channel":"iOS","expiresAt":"2026-05-11T15:58:15+02:00","id":"CS56F13B1DF3C722CC84022DF","merchantAccount":"PallasTradeCommerceECOM","metadata":{"pallastrade_payment_method_id":"1","pallastrade_setup_session":"true"},"recurringProcessingModel":"UnscheduledCardOnFile","reference":"SETUP_1_b99811374f5a","returnUrl":"myapp:\/\/adyen\/return","shopperEmail":"setup-shopper@example.com","shopperInteraction":"Ecommerce","shopperLocale":"en-US","shopperName":{"firstName":"Setup","lastName":"Shopper"},"shopperReference":"customer_1","storePaymentMethodMode":"enabled","mode":"embedded","sessionData":"Ab02b4c0!BQABAgCoZj+9J0EW84wWnGKPgOQqRXxJjUAJEfearjx7JtHPEFHeJbt98XwzMfDvKLfREkBPaxoXh8W8WodzVF4Gw+OTeowxvtIrEuzCZ26rezszKsyjdaRK758rm1sLLMnQWOMRlNOf1IUMp\/anZ9ToKPI1X5wXAAKnDxuVfr0mdOlUnFHMLp+UgSoInI0Ui5YpbSUVGo3HJN5uR06\/noBedIWpjysbzh8ZG78h+28A+3oZggjraO7xVQyYIouaU7Y\/BkXwqQUWE+ZESJbud4yHIIT8JUlIGJQaVNBKcvia0pcMwwroaaCgn\/MFDJLK6QInAinLGYFmf1fKOXVah2CFic8YHUfh5Mzx6kMIUWlRlycx38IsuFibWX3QhunDbvFy4n7JCADfaYny\/xEgJXGVFNswwcmHQEMUPLLbXi5JBImaJJLY6uL+dTMssXGHVMq+875Fk8tz76typc9oq3ana82QdPaGqShyg[...]
