---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/sessions
    body:
      encoding: UTF-8
      string: '{"metadata":{"pallastrade_payment_method_id":1,"pallastrade_setup_session":true},"amount":{"value":0,"currency":"USD"},"returnUrl":"http://www.example.com:3000/adyen/payment_setup_sessions/redirect","reference":"SETUP_1_b624a0380298","merchantAccount":"PallasTradeCommerceECOM","expiresAt":"2026-05-11T13:58:15Z","shopperName":{"firstName":"Setup","lastName":"Shopper"},"shopperEmail":"setup-shopper@example.com","shopperReference":"customer_1","recurringProcessingModel":"UnscheduledCardOnFile","shopperInteraction":"Ecommerce","storePaymentMethodMode":"enabled","channel":"Web","applicationInfo":{"externalPlatform":{"name":"PallasTrade
        Commerce","version":"5.5.0.beta","integrator":"Steven Bian"},"merchantApplication":{"name":"Community
        Edition","version":"0.10.0"}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - ADYEN_API_KEY
      Idempotency-Key:
      - 90c46dc1-5f69-4d51-9479-1b803395b21a
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 11.3.0
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Idempotency-Key:
      - 90c46dc1-5f69-4d51-9479-1b803395b21a
    body:
      encoding: UTF-8
      string: '{"amount":{"currency":"USD","value":0},"applicationInfo":{"externalPlatform":{"name":"PallasTrade
        Commerce","version":"5.5.0.beta","integrator":"Steven Bian"},"merchantApplication":{"name":"Community
        Edition","version":"0.10.0"}},"channel":"Web","expiresAt":"2026-05-11T15:58:15+02:00","id":"CSED878A351F110CBE027C28E","merchantAccount":"PallasTradeCommerceECOM","metadata":{"pallastrade_payment_method_id":"1","pallastrade_setup_session":"true"},"recurringProcessingModel":"UnscheduledCardOnFile","reference":"SETUP_1_b624a0380298","returnUrl":"http:\/\/www.example.com:3000\/adyen\/payment_setup_sessions\/redirect","shopperEmail":"setup-shopper@example.com","shopperInteraction":"Ecommerce","shopperLocale":"en-US","shopperName":{"firstName":"Setup","lastName":"Shopper"},"shopperReference":"customer_1","storePaymentMethodMode":"enabled","mode":"embedded","sessionData":"Ab02b4c0!BQABAgBKJ8g24l2aclnp+UPY5J58oYIUh1Y9fhEJMKo3GgKsgO7fmns8zrSOUSIQQ91mzi302VE3kadODkvpwFZQ0bykqI5wII\/bNDPVfxPTIjmieXk1Zplw\/CoIY63yjUve+XqyPlNH3QUK4e53vUw503dYYNWYAYMwkus3tL0OIp1v5f1Ygr9kaGKV\/wtBgH2f3R\/eYt81hbYaTlI1DgHPNpcuB0z+HChUgXqbUc4kIV91xy04E5EjcIkcCCKf0pGRaDmQEahnclgTm+fATSNPa83Bcklihhr0zl3LYfI+KtP\/xzV9hOo6qUPZV1ZLtMTO50Mw9RPxPSYFxyE7B97Mj28t1Cwda3wXPLQ1kTdmI4+RtpwIEKdLzYpgZWkXP65Pw2BeqD0kcajO4zkRao\/1OpXy58X0Bzo\/XoWFm27dr2osBaFDA0TCdkmUa9nryaVF1ML4kv58m0WF+\/uftqZHSxSONfi\/X[...]
