---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/payments/ADYEN_PAYMENT_PSP_REFERENCE/captures
    body:
      encoding: UTF-8
      string: '{"amount":{"value":10000,"currency":"USD"},"reference":"R549677540_1_ADYEN_PAYMENT_PSP_REFERENCE_capture","merchantAccount":"ADYEN_TEST_MERCHANT_ACCOUNT","applicationInfo":{"externalPlatform":{"name":"PallasTrade
        Commerce","version":"42.0.0","integrator":"Steven Bian"},"merchantApplication":{"name":"Community
        Edition","version":"0.0.3"}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - ADYEN_API_KEY
      Idempotency-Key:
      - dacdf2de-2ff0-4e94-a77f-45aa5571b9d5
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 201
      message: Created
    headers:
      Idempotency-Key:
      - dacdf2de-2ff0-4e94-a77f-45aa5571b9d5
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"merchantAccount":"ADYEN_TEST_MERCHANT_ACCOUNT","paymentPspReference":"ADYEN_PAYMENT_PSP_REFERENCE","pspReference":"ADYEN_PSP_REFERENCE","reference":"R549677540_1_ADYEN_PAYMENT_PSP_REFERENCE_capture","status":"received","amount":{"currency":"USD","value":10000}}'
  recorded_at: Wed, 19 Nov 2025 08:54:18 GMT
recorded_with: VCR 6.3.1
