onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=@sentry/cli
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=lefthook
onlyBuiltDependencies[]=sharp

node-linker=hoisted
package-import-method=copy
