---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/payments/ADYEN_PAYMENT_PSP_REFERENCE/cancels
    body:
      encoding: UTF-8
      string: '{"reference":"R609500697_1_ADYEN_PAYMENT_PSP_REFERENCE_cancel","merchantAccount":"VERSUNIBARISTINADE","applicationInfo":{"externalPlatform":{"name":"PallasTrade
        Commerce","version":"42.0.0","integrator":"Steven Bian"},"merchantApplication":{"name":"Community
        Edition","version":"0.0.3"}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - ADYEN_API_KEY
      Idempotency-Key:
      - d4830956-ab1d-4268-a34d-087d8650223b
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 422
      message: Unprocessable Content
    headers:
      Idempotency-Key:
      - d4830956-ab1d-4268-a34d-087d8650223b
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":422,"errorCode":"167","message":"Original pspReference required
        for this operation","errorType":"validation","pspReference":"ADYEN_PSP_REFERENCE"}'
  recorded_at: Wed, 19 Nov 2025 12:34:15 GMT
recorded_with: VCR 6.3.1
