---
http_interactions:
- request:
    method: post
    uri: https://checkout-test.adyen.com/v71/payments/ADYEN_PAYMENT_PSP_REFERENCE/cancels
    body:
      encoding: UTF-8
      string: '{"reference":"R449870403_1_ADYEN_PAYMENT_PSP_REFERENCE_cancel","merchantAccount":"ADYEN_TEST_MERCHANT_ACCOUNT","applicationInfo":{"externalPlatform":{"name":"PallasTrade
        Commerce","version":"42.0.0","integrator":"Steven Bian"},"merchantApplication":{"name":"Community
        Edition","version":"0.0.3"}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - ADYEN_API_KEY
      Idempotency-Key:
      - 723cbb8c-d943-4cce-a168-2d78d718db35
      Adyen-Library-Name:
      - adyen-ruby-api-library
      Adyen-Library-Version:
      - 10.4.0
  response:
    status:
      code: 201
      message: Created
    headers:
      Idempotency-Key:
      - 723cbb8c-d943-4cce-a168-2d78d718db35
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"merchantAccount":"ADYEN_TEST_MERCHANT_ACCOUNT","paymentPspReference":"ADYEN_PAYMENT_PSP_REFERENCE","pspReference":"ADYEN_PSP_REFERENCE","reference":"R449870403_1_ADYEN_PAYMENT_PSP_REFERENCE_cancel","status":"received"}'
  recorded_at: Wed, 19 Nov 2025 12:32:47 GMT
recorded_with: VCR 6.3.1
