---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: address[city]=Herndon&address[line1]=1+Lovely+Street&address[line2]=Northwest&address[postal_code]=35005&address[country]=United+States+of+America&email=nona%40jaskolski.ca&name=John+Doe
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7e784452-bfe9-4826-bfd6-a607f687f634
      Original-Request:
      - req_OjRu7V5jecRDlM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_S3Z8np7zYxsOjB",
          "object": "customer",
          "address": {
            "city": "Herndon",
            "country": "United States of America",
            "line1": "1 Lovely Street",
            "line2": "Northwest",
            "postal_code": "35005",
            "state": null
          },
          "balance": 0,
          "created": 1743603020,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "nona@jaskolski.ca",
          "invoice_prefix": "AFF18C57",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "John Doe",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Wed, 02 Apr 2025 14:10:20 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_card_visa&off_session=false&confirm=false&amount=1000&customer=cus_S3Z8np7zYxsOjB&currency=USD&statement_descriptor_suffix=R026141440+PallasTrade+Test&automatic_payment_methods[enabled]=true&transfer_group=R026141440&metadata[pallastrade_order_id]=1
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 88b0971d-564b-4c64-8e6f-b3028763df55
      Original-Request:
      - req_ycBew2kCgq1GiS
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3R9RzlFgg8qhioDX1hSkDp52",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3R9RzlFgg8qhioDX1hSkDp52_secret_o1TaTFDpB6xFKan5VsVCuwuVz",
          "confirmation_method": "automatic",
          "created": 1743603021,
          "currency": "usd",
          "customer": "cus_S3Z8np7zYxsOjB",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": null,
          "livemode": false,
          "metadata": {
            "pallastrade_order_id": "1"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1R9RzlFgg8qhioDXe4td1bw0",
          "payment_method_configuration_details": {
            "id": "pmc_1KbPpJFgg8qhioDXAajuQrIY",
            "parent": null
          },
          "payment_method_options": {
            "alipay": {},
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "alipay",
            "klarna",
            "link",
            "wechat_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "R026141440 PallasTrade Test",
          "status": "requires_confirmation",
          "transfer_data": null,
          "transfer_group": "R026141440"
        }
  recorded_at: Wed, 02 Apr 2025 14:10:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/ephemeral_keys
    body:
      encoding: UTF-8
      string: customer=cus_S3Z8np7zYxsOjB
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5824b54d-7118-45df-ba32-7f98d5ba1c26
      Original-Request:
      - req_nkJUhJYhwh9WHX
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ephkey_1R9RzlFgg8qhioDXcS4bthWX",
          "object": "ephemeral_key",
          "associated_objects": [
            {
              "id": "cus_S3Z8np7zYxsOjB",
              "type": "customer"
            }
          ],
          "created": 1743603021,
          "expires": 1743606621,
          "livemode": false,
          "secret": "ek_test_YWNjdF8xS1RqOVZGZ2c4cWhpb0RYLEZpa0RmbXlpeHJMN3Jxb0EwNTJxZGV0QllycUtLZEs_00o7OVTJ9d"
        }
  recorded_at: Wed, 02 Apr 2025 14:10:21 GMT
recorded_with: VCR 6.3.1
