---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=marilu%40kovacekvolkman.us&name=Reed+Mann
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5a68aa68-0712-4f21-bbba-5c8dc17c6cc4
      Original-Request:
      - req_7ue0HaqjbiB6a4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_TGlX9QIjxlFMJY",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1760947205,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "marilu@kovacekvolkman.us",
          "invoice_prefix": "YKBVB6NC",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Reed Mann",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 20 Oct 2025 08:00:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods/pm_1SGLXEIhR0gIegIeYbkKLGkF/attach
    body:
      encoding: UTF-8
      string: customer=cus_TGlX9QIjxlFMJY
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7004604e-b149-45aa-a2d7-2187571b3040
      Original-Request:
      - req_ArjAvNgWS6gswh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "The payment method you provided has already been attached to a customer.",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_ArjAvNgWS6gswh?t=1760947205",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Mon, 20 Oct 2025 08:00:05 GMT
recorded_with: VCR 6.3.1
