---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: payment_method=pm_1QXmPJ2ESifGlJezC2py6ZqS&off_session=true&confirm=true&amount=1000&customer=cus_RQdclxFVLH4oau&currency=USD&statement_descriptor_suffix=R111098766&automatic_payment_methods[enabled]=true&transfer_group=R111098766&metadata[pallastrade_order_id]=1&capture_method=manual&shipping[address][city]=New+York&shipping[address][country]=US&shipping[address][line1]=8+Lovely+Street&shipping[address][line2]=Northwest&shipping[address][postal_code]=10118&shipping[address][state]=NY&shipping[name]=John+Doe
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 0537b017-f231-42a4-a5ff-b2fe21789fdd
      Stripe-Version:
      - '2023-10-16'
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0537b017-f231-42a4-a5ff-b2fe21789fdd
      Original-Request:
      - req_rFpKCHw5kycJGF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3TUq3z2ESifGlJez0zfUepqJ",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 1000,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 0,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "manual",
          "client_secret": "pi_3TUq3z2ESifGlJez0zfUepqJ_secret_h6u0FTRY6Wu2uNWG1c3VH2A05",
          "confirmation_method": "automatic",
          "created": 1778253099,
          "currency": "usd",
          "customer": "cus_RQdclxFVLH4oau",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3TUq3z2ESifGlJez0MTTKoYu",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {
            "pallastrade_order_id": "1"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1QXmPJ2ESifGlJezC2py6ZqS",
          "payment_method_configuration_details": {
            "id": "pmc_1QVa9x2ESifGlJezRC5fgLVg",
            "parent": null
          },
          "payment_method_options": {
            "afterpay_clearpay": {
              "reference": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "klarna": {
              "preferred_locale": null
            },
            "link": {
              "persistent_token": null
            }
          },
          "payment_method_types": [
            "card",
            "afterpay_clearpay",
            "klarna",
            "link"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shared_payment_granted_token": null,
          "shipping": {
            "address": {
              "city": "New York",
              "country": "US",
              "line1": "8 Lovely Street",
              "line2": "Northwest",
              "postal_code": "10118",
              "state": "NY"
            },
            "carrier": null,
            "name": "John Doe",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "R111098766",
          "status": "requires_capture",
          "transfer_data": null,
          "transfer_group": "R111098766"
        }
  recorded_at: Fri, 08 May 2026 15:11:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3TUq3z2ESifGlJez0zfUepqJ?expand%5B%5D=payment_method
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - 3c3
    body:
      enc[...]
