---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tax/transactions/create_from_calculation
    body:
      encoding: UTF-8
      string: calculation=taxcalc_1S52FRFmGsiQWfE6hVIABQtT&reference=pi_1234567890&expand[0]=line_items
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4d511be8-6f85-4b46-b008-93c01b8a4154
      Original-Request:
      - req_kklABvRBwuX2rr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "tax_1S52FRFmGsiQWfE6b3UAUgEk",
          "object": "tax.transaction",
          "created": 1757329040,
          "currency": "usd",
          "customer": null,
          "customer_details": {
            "address": {
              "city": "Lancaster",
              "country": "US",
              "line1": "3201 North Dallas Avenue",
              "line2": null,
              "postal_code": "75134",
              "state": "TX"
            },
            "address_source": "shipping",
            "ip_address": null,
            "tax_ids": [],
            "taxability_override": "none"
          },
          "line_items": {
            "object": "list",
            "data": [
              {
                "id": "tax_li_T14O56Y3GVUiqz",
                "object": "tax.transaction_line_item",
                "amount": 1000,
                "amount_tax": 80,
                "livemode": false,
                "metadata": {},
                "product": null,
                "quantity": 1,
                "reference": "1",
                "reversal": null,
                "tax_behavior": "exclusive",
                "tax_code": "txcd_10000000",
                "type": "transaction"
              },
              {
                "id": "tax_li_T14ODmh64rrozT",
                "object": "tax.transaction_line_item",
                "amount": 2000,
                "amount_tax": 160,
                "livemode": false,
                "metadata": {},
                "product": null,
                "quantity": 1,
                "reference": "2",
                "reversal": null,
                "tax_behavior": "exclusive",
                "tax_code": "txcd_10000000",
                "type": "transaction"
              },
              {
                "id": "tax_li_T14ODOeNvSfoKB",
                "object": "tax.transaction_line_item",
                "amount": 3000,
                "amount_tax": 240,
                "livemode": false,
                "metadata": {},
                "product": null,
                "quantity": 1,
                "reference": "3",
                "reversal": null,
                "tax_behavior": "exclusive",
                "tax_code": "txcd_10000000",
                "type": "transaction"
              }
            ],
            "has_more": false,
            "total_count": 3,
            "url": "/v1/tax/transactions/tax_1S52FRFmGsiQWfE6b3UAUgEk/line_items"
          },
          "livemode": false,
          "metadata": {},
          "posted_at": 1757329040,
          "reference": "pi_1234567890",
          "reversal": null,
          "ship_from_details": null,
          "shipping_cost": {
            "amount": 1000,
            "amount_tax": 80,
            "tax_behavior": "exclusive",
            "tax_code": "txcd_92010001"
          },
          "tax_date": 1757327073,
          "type": "transaction"
        }
  recorded_at: Mon, 08 Sep 2025 10:57:20 GMT
recorded_with: VCR 6.3.1
