---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tax/calculations
    body:
      encoding: UTF-8
      string: currency=usd&line_items[0][reference]=1&line_items[0][tax_behavior]=exclusive&line_items[0][amount]=1000&line_items[0][quantity]=1&line_items[1][reference]=2&line_items[1][tax_behavior]=exclusive&line_items[1][amount]=2000&line_items[1][quantity]=1&line_items[2][reference]=3&line_items[2][tax_behavior]=exclusive&line_items[2][amount]=3000&line_items[2][quantity]=1&customer_details[address][line1]=3201+North+Dallas+Avenue&customer_details[address][city]=Lancaster&customer_details[address][state]=TX&customer_details[address][postal_code]=75134&customer_details[address][country]=US&customer_details[address_source]=shipping&shipping_cost[amount]=1000&shipping_cost[tax_behavior]=exclusive&shipping_cost[tax_code]=txcd_92010001&expand[0]=line_items.data.tax_breakdown&expand[1]=shipping_cost.tax_breakdown
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3ec9b2c3-28a5-4c73-bbb1-700674b0a8ac
      Original-Request:
      - req_CIgnN1hnI5qNM6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "taxcalc_1S52FRFmGsiQWfE6hVIABQtT",
          "object": "tax.calculation",
          "amount_total": 7560,
          "currency": "usd",
          "customer": null,
          "customer_details": {
            "address": {
              "city": "Lancaster",
              "country": "US",
              "line1": "3201 North Dallas Avenue",
              "line2": null,
              "postal_code": "75134",
              "state": "TX"
            },
            "address_source": "shipping",
            "ip_address": null,
            "tax_ids": [],
            "taxability_override": "none"
          },
          "expires_at": 1765103073,
          "line_items": {
            "object": "list",
            "data": [
              {
                "id": "tax_li_T14O56Y3GVUiqz",
                "object": "tax.calculation_line_item",
                "amount": 1000,
                "amount_tax": 80,
                "livemode": false,
                "metadata": {},
                "product": null,
                "quantity": 1,
                "reference": "1",
                "tax_behavior": "exclusive",
                "tax_breakdown": [
                  {
                    "amount": 80,
                    "jurisdiction": {
                      "country": "US",
                      "display_name": "Texas",
                      "level": "state",
                      "state": "TX"
                    },
                    "sourcing": "destination",
                    "tax_rate_details": {
                      "display_name": "Sales Tax",
                      "percentage_decimal": "8.0",
                      "tax_type": "sales_tax"
                    },
                    "taxability_reason": "standard_rated",
                    "taxable_amount": 1000
                  },
                  {
                    "amount": 0,
                    "jurisdiction": {
                      "country": "US",
                      "display_name": "Dallas",
                      "level": "county",
                      "state": "TX"
                    },
                    "sourcing": "destination",
                    "tax_rate_details": null,
                    "taxability_reason": "not_subject_to_tax",
                    "taxable_amount": 0
                  },
                  {
                    "amount": 0,
                    "jurisdiction": {
                      "country": "US",
                      "display_name": "Lancaster",
                      "level": "city",
                      "state": "TX"
                    },
                    "sourcing": "destination",
                    "tax_rate_details": {
                      "display_name": "Sales Tax",
                      "percentage_decimal": "0.0",
                      "tax_type": "sales_tax"
                    },
                    "taxability_reason": "standard_rated",
                    "taxable_amount": 1000
                  }
                ],
                "tax_code": "txcd_10000000"
              },
              {
                "id": "tax_li_T14ODmh64rrozT",
                "object": "tax.calculation_line_item",
                "amount": 2000,
                "amount_tax": 160,
                "livemode": false,
                "metadata": {},
                "product": null,
                "quantity": 1,
                "reference": "2",
                "tax_behavior": "exclusive",
                "tax_breakdown": [
                  {
                [...]
