---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_intents/pi_3SaJc7FmGsiQWfE60qR1EA2E?expand%5B%5D=payment_method
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_3SaJc7FmGsiQWfE60qR1EA2E",
          "object": "payment_intent",
          "amount": 5000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 5000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "always",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_3SaJc7FmGsiQWfE60qR1EA2E_secret_t5yYONExJAsyZV8HX02dWpLQy",
          "confirmation_method": "automatic",
          "created": 1764781995,
          "currency": "eur",
          "customer": "cus_T5CK5Lf4jU4kCw",
          "customer_account": null,
          "description": null,
          "excluded_payment_method_types": null,
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_3SaJc7FmGsiQWfE60ZbquOlO",
          "livemode": false,
          "metadata": {
            "pallastrade_order_id": "138"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": {
            "id": "pm_1SaEeQFmGsiQWfE6MpqQKV0K",
            "object": "payment_method",
            "allow_redisplay": "unspecified",
            "billing_details": {
              "address": {
                "city": "Lancaster",
                "country": "US",
                "line1": "3301 North Dallas Avenue",
                "line2": null,
                "postal_code": "75134",
                "state": "TX"
              },
              "email": "lukas.adamczyk+test-1@pallastrade.example",
              "name": "John Doe",
              "phone": null,
              "tax_id": null
            },
            "card": {
              "brand": "mastercard",
              "checks": {
                "address_line1_check": "pass",
                "address_postal_code_check": "pass",
                "cvc_check": "pass"
              },
              "country": "US",
              "display_brand": "mastercard",
              "exp_month": 2,
              "exp_year": 2030,
              "fingerprint": "AauCz0jrZPoQqzeK",
              "funding": "credit",
              "generated_from": null,
              "last4": "4444",
              "networks": {
                "available": [
                  "mastercard"
                ],
                "preferred": null
              },
              "regulated_status": "unregulated",
              "three_d_secure_usage": {
                "supported": true
              },
              "wallet": null
            },
            "created": 1764762918,
            "customer": "cus_T5CK5Lf4jU4kCw",
            "customer_account": null,
            "livemode": false,
            "metadata": {},
            "type": "card"
          },
          "payment_method_configuration_details": {
            "id": "pmc_1RMn31FmGsiQWfE6vaR9S4rU",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic",
              "setup_future_usage": "off_session"
            },
            "customer_balance": {
              "bank_transfer": {
                "eu_bank_transfer": {
                  "country": "IE"
                },
                "type": "eu_bank_transfer"
              },
              "funding_type": "bank_transfer"
            },
            "link": {
              "persistent_token": null
            },
            "sepa_debit": {
              "setup_future_usage": "off_session"
            }
          },
          "payment_method_types": [
            "card",
            "sepa_debit",
            "link",
            "customer_balance"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": {
            "address": {
              "city": "Lancaster",
              "country": "US",
              "line1": "3301 North Dallas Avenue",
              "line2": null,
              "postal_code": "75134",
              "state": "TX"
            },
            "carrier": null,
            "name": "John Doe",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "R838007572",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "R838007572"
        }
  recorded_at: Mon, 08 Dec 2025 10:47:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3SaJc7FmGsiQWfE60ZbquOlO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2023-10-16'
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3SaJc7FmGsiQWfE60ZbquOlO",
          "object": "charge",
          "amount": 5000,
          "amount_captured": 5000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3SaJc7FmGsiQWfE60oihu3i9",
          "billing_details": {
            "address": {
              "city": "Lancaster",
              "country": "US",
              "line1": "3301 North Dallas Avenue",
              "line2": null,
              "postal_code": "75134",
              "state": "TX"
            },
            "email": "lukas.adamczyk+test-1@pallastrade.example",
            "name": "John Doe",
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "UFC MEALS* R838007572",
          "captured": true,
          "created": 1764782042,
          "currency": "eur",
          "customer": "cus_T5CK5Lf4jU4kCw",
          "description": null,
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "pallastrade_order_id": "138"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 3,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_3SaJc7FmGsiQWfE60qR1EA2E",
          "payment_method": "pm_1SaEeQFmGsiQWfE6MpqQKV0K",
          "payment_method_details": {
            "card": {
              "amount_authorized": 5000,
              "authorization_code": "971210",
              "brand": "mastercard",
              "checks": {
                "address_line1_check": "pass",
                "address_postal_code_check": "pass",
                "cvc_check": null
              },
              "country": "US",
              "exp_month": 2,
              "exp_year": 2030,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "AauCz0jrZPoQqzeK",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4444",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "mastercard",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "MCCAAUCZ01208",
              "overcapture": {
                "maximum_amount_capturable": 5000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xUk1uMnBGbUdzaVFXZkU2KL3Z2skGMgYn0r2qg_s6LBZthLFDUOJr6-K3xbTjnIOsUoniu-8otPkbn0aSPkPvv4niqjBeuB-cmHR8",
          "refunded": false,
          "review": null,
          "shipping": {
            "address": {
              "city": "Lancaster",
              "country": "US",
              "line1": "3301 North Dallas Avenue",
              "line2": null,
              "postal_code": "75134",
              "state": "TX"
            },
            "carrier": null,
            "name": "John Doe",
            "phone": null,
            "tracking_number": null
          },
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "R838007572",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "R838007572"
        }
  recorded_at: Mon, 08 Dec 2025 10:47:25 GMT
[...]
